<div class="page-headline">
    <div class="row">
        <div class="medium-6 columns">
            <a class="back" href="#profile"><i class="fa fa-angle-left"></i></a>
            <h4>{{translate "label.profile"}} / {{translate "label.edit"}}</h4>
        </div>
    </div>
</div>
<div class="page">
    <div class="row">
        <div class="medium-3 columns">
            <div class="user-avatar">
                <img src="http://ultimate.com.ua/teams/photo/206963135553859cf9aba0e.jpeg"/>
                <div class="upload-avatar">
                    <span><i class="fa fa-photo"></i> {{translate "label.upload.new.photo"}}</span>
                </div>
            </div>
        </div>
        <div class="medium-9 columns">
            <div class="user-info">
                <form id="edit-user" autocomplete="off">
                    <div class="row">
                        <div class="medium-3 columns">
                            <label for="first_name" class="inline">{{translate "label.firstname"}}<label/>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" name="first_name" id="first_name" value="{{first_name}}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns">
                            <label for="last_name" class="inline">{{translate "label.lastname"}}<label/>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" name="last_name" id="last_name" value="{{last_name}}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns">
                            <label for="dob" class="inline">{{translate "label.dob"}}<label/>
                        </div>
                        <div class="medium-9 columns">
                            <input type="date" name="dob" id="dob" value="{{dob}}">
                        </div>
                    </div>
                    <div class="row contacts">
                        <h4>{{translate "label.contacts"}}</h4>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns">
                            <label for="email" class="inline">Email<label/>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" name="email" id="email" value="{{email}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns">
                            <label for="skype" class="inline">Skype<label/>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" name="skype" id="skype" value="{{skype}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns">
                            <label for="phone" class="inline">{{translate "label.phone"}}<label/>
                        </div>
                        <div class="medium-9 columns">
                            <input type="text" name="phone" id="phone" value="{{phone}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns text-right">
                            <button type="submit" class="button-action">{{translate "button.save"}}</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>