<ul class="menu">
    <a href="#profile" class="active"><li>{{translate "label.profile"}}</li></a>
    <a href="#messages"><li>{{translate "label.messages"}}</li></a>
    <a href="#friends"><li>{{translate "label.friends"}}</li></a>
    <a href="#interests"><li>{{translate "label.interests"}}</li></a>
    <a href="#projects"><li>{{translate "label.projects"}}</li></a>
    <a href="#news"><li>{{translate "label.news"}}</li></a>
    <a href="#settings"><li>{{translate "label.settings"}}</li></a>
    <a href="#logout"><li>{{translate "label.log.out"}}</li></a>
</ul>
